EXPO_PUBLIC_API_URL=http://localhost:8080
EXPO_PUBLIC_FIREBASE_API_KEY=
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=kora-app.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=kora-app
EXPO_PUBLIC_FIREBASE_APP_ID=
